* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

iframe {
	display: none;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: black;
	perspective: 1000px;
}

#bg {
	height: 100vh;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;

    /*filter: blur(50px);*/
}

#ground {
	width: 200%;
	height: 40vh;
	background-image: url(images/dirt.jpg);
	position: absolute;
	bottom: -5vh;
	left: -50%;

	transform: rotateX(45deg);
}

.grave {
	background-image: url(images/grave.png);
	background-size: 100% 100%;
	height: 20vh;
	width: 18vh;

	position: absolute;
}

#field {
	height: 100vh;
	width: calc(100vh * 700/394);

	/*background-image: url(images/fortnite_bg.jpg);*/
	background-position: center;
	background-size: cover;

	position:  absolute;
	transform: translateX(-50%);
	left: calc(50%);
	top: 0;
}

.fighter {
	width: 50vh;
	height: 50vh;

	position: absolute;
	background-size: contain;
}

.fighter .emitter {
	width: 50vh;
	height: 50vh;

	position: absolute;
	top: -10vh;
	background-size: contain;

	background-image: url(images/blood.png);

	transform: scale(0);
	transition: transform 50ms linear;
}

#ura {
	background-image: url(images/ura_idle.png);
	/* could not set the `left` position here (it didn't work in firefox) */
}

#ustina {
	background-image: url(images/ustina_idle.png);
	transform: scaleX(-1);
}

#ui {
	margin-top: 7vh;

    display: flex;
    flex-direction: row;
    /* space-evently didn't work for EDGE */
    justify-content: space-around;

    position: absolute;
    width: 100%;
}

.health {
	/*z-index: 0;*/
	width: 40vw;
	height: 35px;

	background-color: #ddd;
	border-radius: 4px;
	opacity: .8;

	padding: 3px;
	position: relative;
}

.health .bar {
	display: inline-block;

	width: 100%;
	height: 100%;
	background-color: #eee;
}

.health .title {
	position: absolute;
	left: 10px;
	top: 4px;

	width: 100%;
	height: 100%;

	font-size: 23px;
	font-family: monospace;
	font-style: italic;
	font-weight: bold;
	color: #333;

	overflow: visible;
}

#ustinas_health {
	background-color: #ef6e6e;
}

#uras_health {
	background-color: #64abf5;
}